@charset "gb2312";
/* XYCMS */
*{ margin:0px; padding:0px;}
body{ font-size:12px; background:url(../images/index_bg.gif) repeat-x; font-family:"Microsoft Yahei","",Verdana, Geneva, sans-serif; color:#3E3E3E;}
ul,li{ list-style:none;}
.clear{ clear:both;}
table{ border:0; font-size:13px;}
a{ color:#3E3E3E; text-decoration:none;}
a:hover{ color:#555;}
img{ border:0;}

.button{font-size:12px; line-height:18px; padding:1px 10px;}
.input {
	BORDER-RIGHT: #cde6ff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cde6ff 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #cde6ff 1px solid; COLOR: #505050; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #cde6ff 1px solid; HEIGHT: 20px
}
DIV.searchzone {
	BORDER-RIGHT: #cde6ff 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cde6ff 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #cde6ff 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cde6ff 1px solid; BACKGROUND-COLOR: #f2f9fd
}
/*login*/
#m_top{ width:100%; height:230px; overflow:hidden;}
#login{ width:720px; height:210px; margin:0px auto;}
.l_l{ width:345px; float:left;}
.l_l_c{ width:100%; height:210px; background:url(../images/i_logo.gif) no-repeat right top; overflow:hidden;}
.l_l_c_t{ margin-top:110px; line-height:20px; overflow:hidden; color:#A7A7A7;}
.l_c{ width:30px; float:left;}
.l_r{ width:345px; float:right;}
.l_r_form{ width:100%;}
.l_r_form .l_table{ border:0;}
.l_r_form .l_table .td1{ text-align:right;}
.l_r_form .l_table .td2{ text-align:center;}
.l_r_form .l_table .td3{ text-align:center; font:14px/30px "Microsoft Yahei"; color:#A5A5A5;}
.l_r_form span{ font:15px/30px "Microsoft Yahei";}
.l_r_form .u_input{ width:200px; height:20px; padding:3px; font-size:14px; line-height:20px; border:1px #C9C9C9 solid;}
.l_r_form .input_on{ width:200px; height:20px; padding:3px; font-size:14px; line-height:20px; border:1px #FD8C5B solid; background-color:#FFFFCC;}
.l_r_form .u_button{ padding:3px 8px; line-height:20px; border:1px #7C7C7C solid; background:url(../images/button.gif) repeat-x;}
.l_r_form .u_yzm{ width:60px; height:18px; padding:2px 3px; border:1px #C9C9C9 solid; line-height:18px;}
.l_r_form .u_yzm_f{ width:60px; height:18px; padding:2px 3px; border:1px #FD8C5B solid; line-height:18px; background-color:#FFFFCC;}
.l_r_form .l_table .td4 img{ vertical-align:middle;}

#copy{ width:100%; margin:70px auto; overflow:hidden;}
.copy{ width:1000px; margin:0px auto;  background:url(../images/copy.gif) no-repeat center top; text-align:center; line-height:36px; overflow:hidden;}

.td{ border-bottom:1px #DBDBDB dotted; line-height:32px; font-size:13px;}

/*left*/
.menu_t1{ font:bold 13px/28px "Microsoft Yahei";}
.menu_t2{ font:12px/28px "Microsoft Yahei";}
.t1{ font:13px/36px "Microsoft Yahei"; color:#FFF; overflow:hidden;}
.l_tab1{ margin-top:6px; color: #555555;text-decoration:none; background-image: url(../images/nav02.gif);}
.left-table03 a:hover{ background-image: url(../images/nav03.gif);}
.l_copy{ font:13px/22px "Microsoft Yahei"; color:#FFF;}
/*head*/
.h_t1{ font:13px/22px "Microsoft Yahei";}
.h_nav_t a{ font:13px/26px "Microsoft Yahei";}
.h_nav_t a:hover{ font-size:13px; padding:0px 5px;}
.h_sf{ font:13px/22px "Microsoft Yahei"; color:#FFF;}

/*ҳ*/
.xcms_dh{  font:bold 13px/26px "Microsoft Yahei";}
.xcms_dh a{ color:#F00;}
.xcms_dh a:hover{ color:#900;}

/*html*/
.html_title{ font:bold 14px/26px ""; color:#035F8F; padding-left:10px;}
.html_iuput1{ width:30px; height:18px; border:1px #A5A5A5 solid; padding:1px 2px; line-height:18px;}
.html_iuputd{ width:70px; height:18px; border:1px #A5A5A5 solid; padding:1px 2px; line-height:18px;}
.html_table td1{ }